SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="80:fa:5b:58:6b:62", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="94:b8:6d:b6:73:2b", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="wlan*", NAME="wlan0"
